textarea {
  resize: none !important;
}

/* Colors and Backgrounds */
body {
  --primary-lighter: #BFE1FF;
  --primary-light: #6695BE;
  --primary-main: #3F688C;
  --primary-dark: #194062;
  --primary-darker: #172B3D;

  --secondary-lighter: #F19792;
  --secondary-light: #BF6762;
  --secondary-main: #8C433F;
  --secondary-dark: #4A1310;
  --secondary-darker: #320502;

  --gray-100: #F2F8FD;
  --gray-200: #D3DCE3;
  --gray-300: #B8C1C9;
  --gray-400: #8D9AA5;
  --gray-500: #6B7883;
  --gray-600: #3F4D59;
  --gray-700: #253543;
  --gray-800: #1C2C39;
  --gray-900: #031220;

  --text-dark-primary: #031220;
  --text-dark-secondary: #3f4d59;
  --text-dark-disabled: #8d9aa5;

  --text-light-primary: #F2F8FD;
  --text-light-secondary: #8D9AA5;
  --text-light-disabled: #253543;
}
/* BG Primary */
.bg-primary-lighter {
  background: var(--primary-lighter);
}

.bg-primary-light {
  background: var(--primary-light);
}

.bg-primary-main {
  background: var(--primary-main);
}

.bg-primary-dark {
  background: var(--primary-dark);
}

.bg-primary-darker {
  background: var(--primary-darker);
}

/* BG Secondary */
.bg-secondary-lighter {
  background: var(--secondary-lighter);
}

.bg-secondary-light {
  background: var(--secondary-light);
}

.bg-secondary-main {
  background: var(--secondary-main);
}

.bg-secondary-dark {
  background: var(--secondary-dark);
}

.bg-secondary-darker {
  background: var(--secondary-darker);
}

.text-light-primary {
  color: var(--text-light-primary);
}

.text-light-secondary {
  color: var(--text-light-secondary);
}

.text-light-disabled {
  color: var(--text-light-disabled);
}

.text-dark-primary {
  color: var(--text-dark-primary);
}

.text-dark-secondary {
  color: var(--text-dark-secondary);
}

.text-dark-disabled {
  color: var(--text-dark-disabled);
}

.btn-primary-light {
  background: var(--primary-light) !important;
  color: var(--text-light-primary) !important;
}

.btn-switch



